#introLogo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: introbgChange;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.intro .abstract,
.intro .depressionism {
    animation-name: flicker-in-1;
    animation-duration: 100ms;
    animation-iteration-count: 20;
    animation-delay: 6s;
    margin: 2rem 1rem;
    padding: 0;
    display: flex;
}

.intro .letter {
    height: 120px;
    margin-top: calc(var(--logo-p) / 2);
    margin-right: calc(var(--logo-p) / 2);
    margin-bottom: calc(var(--logo-p) / 2);
    margin-left: calc(var(--logo-p) / 2);
}

.intro .letter .bg {
    fill: var(--color2);
}

.intro .letter .text {
    fill: var(--color1);
}

.intro .letter {
    animation-name: introLetters;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.intro .letter.a {
    animation-delay: 0ms;
}

.intro .letter.b {
    animation-delay: 100ms;
}

.intro .letter.s {
    animation-delay: 200ms;
}

.intro .letter.t {
    animation-delay: 300ms;
}

.intro .letter.r {
    animation-delay: 400ms;
}

.intro .letter.a2 {
    animation-delay: 500ms;
}

.intro .letter.c {
    animation-delay: 600ms;
}

.intro .letter.t2 {
    animation-delay: 700ms;
}

.intro .letter.d {
    animation-delay: 800ms;
}

.intro .letter.e {
    animation-delay: 900ms;
}

.intro .letter.p {
    animation-delay: 1000ms;
}

.intro .letter.r2 {
    animation-delay: 1100ms;
}

.intro .letter.e2 {
    animation-delay: 1200ms;
}

.intro .letter.s2 {
    animation-delay: 1300ms;
}

.intro .letter.s3 {
    animation-delay: 1400ms;
}

.intro .letter.i {
    animation-delay: 1500ms;
}

.intro .letter.o {
    animation-delay: 1600ms;
}

.intro .letter.n {
    animation-delay: 1700ms;
}

.intro .letter.i2 {
    animation-delay: 1800ms;
}

.intro .letter.s4 {
    animation-delay: 1900ms;
}

.intro .letter.m {
    animation-delay: 2000ms;
}