#page-header {
    --gap: 5vw;
}
#page-header > div {
    background-color: var(--background-alt);
    display: flex;
    gap: var(--gap);
    border-right: var(--border);
    border-left: var(--border);
    margin: 0 auto;
    width: calc(100vw - var(--gap) * 2);
}

#page-header {
    background-color: transperant;
    margin-top: var(--toggle-height);
    border-top: var(--border);
    border-bottom: var(--border);
}

#page-header img {
	max-height: 400px;
}

#page-header .text {
    padding: 1vw;
    flex-direction: column;
}
