wp-admin/
wp-includes/

wp-content/plugins/
!wp-content/plugins/theatrum-admin/
!wp-content/plugins/theatrum-animation/
!wp-content/plugins/theatrum-blocks/
!wp-content/plugins/index.php

wp-content/posts*
wp-content/cache/
wp-content/upgrade*

.env
.htaccess
.deploy/logs/
.deploy/state/
**/node_modules/**
**/dist/**
wp-content/debug.log
error_log
.htaccess
readme.html
license.txt
xmlrpc.php
wp-*.php
wp-content/themes/twentytwenty*
**/*.sql

**/.claude/worktrees/**
wp-content/season-bkp
.backups/
*wp-config.php
.build/logs/
desktop.ini
**/desktop.ini
!.build/sql/import/*.sql
wp-content/plugins/accessibility-checker/accessibility-checker.php
