.roc-grotesk {
  font-family: "roc-grotesk-variable",sans-serif;
  font-variation-settings: 'wdth' 50, 'wght' 100;
  font-variation-settings: 'wdth' 107, 'wght' 900;
}
.mendl-serif {
  font-family: "mendl-serif-variable",sans-serif;
  font-variation-settings: 'wght' 100, 'STYL' 0;
  font-variation-settings: 'wght' 900, 'STYL' 1;
}
.mendl-sans {
  font-family: "mendl-sans-variable",sans-serif;
  font-variation-settings: 'wght' 100, 'STYL' 0;
  font-variation-settings: 'wght' 900, 'STYL' 1;
}
.varietta {
  font-family: "varietta-variable",sans-serif;
  font-variation-settings: 'CTOP' 0, 'CBOT' 0, 'wdth' 50, 'wght' 100;
  font-variation-settings: 'CTOP' 100, 'CBOT' 100, 'wdth' 220, 'wght' 900;
}
.gridlite-pe {
  font-family: "gridlite-pe-variable",sans-serif;
  font-variation-settings: 'wght' 1, 'BACK' 1, 'RECT' 1, 'ELSH' 1;
  font-variation-settings: 'wght' 900, 'BACK' 900, 'RECT' 900, 'ELSH' 4;
}