/* Color Theme Swatches in Hex */
.hex1 {
  background-color: #023E63;
}

.hex2 {
  background-color: #FEC009;
}

.hex3 {
  background-color: #F27507;
}

.hex4 {
  background-color: #FD3A0A;
}

.hex5 {
  background-color: #B82A2D;
}

/* Color Theme Swatches in RGBA */
.rgba1 {
  background-color: #023e63;
}

.rgba2 {
  background-color: #fec009;
}

.rgba3 {
  background-color: #f27507;
}

.rgba4 {
  background-color: #fd3a0a;
}

.rgba5 {
  background-color: #b82a2d;
}

/* Color Theme Swatches in HSLA */
.hsla1 {
  background-color: #023d5f;
}

.hsla2 {
  background-color: #febc06;
}

.hsla3 {
  background-color: #ed7307;
}

.hsla4 {
  background-color: #fd3408;
}

.hsla5 {
  background-color: #b62b2f;
}

body {
  font-family: "roc-grotesk-variable", sans-serif;
  font-variation-settings: "wdth" 100, "wght" 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "mendl-serif-variable", sans-serif;
  font-variation-settings: "wght" 900, "STYL" 0;
}

.flexgrid {
  display: flex;
  flex-wrap: wrap;
  font-family: "mendl-serif-variable", sans-serif;
  padding: 1vw;
}
.flexgrid > div {
  border: solid 2px #000;
  box-shadow: 0 6px 6px -6px #000;
  display: inline-block;
  flex: 1 4 20vw;
  height: 200px;
  margin: 0.5vmin;
  overflow: hidden;
  position: relative;
  transition: 500ms;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);
}
.flexgrid > div:hover {
  flex: 2 1 33%;
  transition: 500ms;
}

/* 
.text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;
}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}

.bottom-right {
  bottom:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
} */
blockquote {
  font-family: varietta-variable, sans-serif;
  font-variation-settings: "wght" 400, "wdth" 150, "CBOT" 50, "CTOP" 50;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.4;
}
blockquote p {
  font-weight: 300;
  vertical-align: middle;
  display: inline-block;
  padding-left: 20px;
  font-size: 18px;
  color: whitesmoke;
}
blockquote p span {
  font-variation-settings: "wght" 800, "wdth" 150, "CBOT" 100, "CTOP" 0;
}
blockquote p cite {
  font-weight: 100;
  font-size: 14px;
  font-variation-settings: "wght" 600, "wdth" 100, "CBOT" 100, "CTOP" 0;
}