/* Rainbow Funk : https://colordesigner.io/color-palette-builder#910f13-19113b-dbac2a-bf7513-032603-f5fcf5-170001-ebe1c5-42090b  */
$diesel: #170001;
$english-holly: #032603;
$aubergine: #42090b;
$haiti: #19113b;
$tamarillo: #910f13;
$meteor: #bf7513;
$golden-grass: #dbac2a;
$double-spanish-white: #ebe1c5;
$ottoman: #f5fcf5;